// 栏目
.column-title {
  margin: 0 auto;
  width: 1180px;
  height: 60px;
  padding-top: 60px;

  h2 {
    font-weight: 500;
    font-size: 20px;
    color: #415967;
    position: relative;
    padding: 0 20px;
    line-height: 28px;

    &:after {
      content: "";
      width: 4px;
      height: 18px;
      background: #ffc81f;
      position: absolute;
      top: 5px;
      left: 0;
    }
  }
  p {
    font-size: 14px;
    color: gray;
    line-height: 28px;
  }
  a {
    font-size: 14px;
    color: gray;
    line-height: 28px;

    &:hover{
      color: #ffc81f;
    }
  }
}

// 精选
.car-card{
  width: 1180px;

  li{
    width: 580px;
    height: 330px;
    float: left;
    margin-right: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: pointer;
    position: relative;

    &:hover > .img{
        transform: scale(1.05);
    }
    &:nth-child(2n){
      margin-right: 0;
    }
    .img{
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      transition-delay: .1s;
      backface-visibility: hidden;
      transition: transform .6s ease-in-out;
    }
    .card_author{
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 170px;

      &::before{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: '';
        background: linear-gradient(0deg,rgba(0,0,0,.6),transparent);
      }
    }
    .card-title{
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 0 20px 12px;
      text-align: left;
    }
    h3{
      color: #fff;
      font-weight: 400;
      font-size: 20px;
      line-height: 24px;
    }
    .card_author_span{
      margin: 8px 0 0;
      color: #d2d2d2;
      font-size: 14px;
      line-height: 22px;
    }
  }
}

// 普通
.card{
  width: 1180px;

  li{
    width: 585px;
    height: 200px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    position: relative;
    cursor: pointer;

    &:nth-child(2n){
      margin-right: 0;
    }
    .img-box{
      width: 200px;
      height: 200px;
      float: left;
      overflow: hidden;
    }
    .img{
      width: 200px;
      height: 200px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      transition-delay: .1s;
      backface-visibility: hidden;
      transition: transform .6s ease-in-out;

      &:hover{
        transform: scale(1.05);
      }
    }
    .card-box{
      box-sizing: border-box;
      padding: 20px;
      width: 385px;
      height: 200px;
      float: left;
      background: #fff;
    }
    .card-h3{
      font-size: 18px;
      color: #415967;
      line-height: 28px;
      width: 345px;
      text-align: left;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      white-space: inherit;
    }
    p{
      padding-top: 10px;
      text-align: left;
      width: 345px;
      color: gray;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      white-space: inherit;
    }
    .time{
      font-size: 12px;
      text-align: left;
      color: gray;
      line-height: 26px;
      position: absolute;
      bottom: 20px;
    }
  }
  .card-btn{
    width: 100%;
    height: 80px;
    float: left;

    .loader-bd{
      margin-top: 26px;
      display: inline-block;
      padding: 15px 50px;
      font-size: 18px;
      line-height: 18px;
      background-color: #ffc81f;
      color: #fff;
      cursor: pointer;
    }
  }
}

.click_more{
  width: 100%;
  height: 40px;
  background: #fff;
  box-shadow: 0 1px 10px 0 rgba(0,0,0,.05);
  border-radius: 4px;
  color: #415967;
  font-size: 14px;
  text-align: center;
  cursor: pointer;
}
